extends layout

block content
  h1 Sopra Banking
  p.lead Conversational agent with Watson
  hr
  .row
    div.col-md-12
      a(href="/chat")
        button.btn.btn-success
          i.fa.fa-comment
          | Chat
      a(href="/training")
              button.btn.btn-success
                i.fa.fa-cogs
                | Training
      a(href="/unit_test")
              button.btn.btn-success
                i.fa.fa-check-circle-o
                | Unit tests
