doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title messages chat widget - Bootdey.com
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')

    link(rel='stylesheet', href='/css/bootstrap-slider.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900', rel='stylesheet', type='text/css')

    link(rel='stylesheet', href='/css/progressbar.css')
    link(rel='stylesheet', href='/css/image-picker.css')
    link(rel='stylesheet', href='/css/logo.css')
    link(rel='stylesheet', href='/css/toggle.css')
    link(rel='stylesheet', href='/css/chatbox.css')


  body
    div#principal-page
      div.segment-header
        div.icon-header
          img(src="/images/Image1.png")
        div.menu-header
          div.onglet
            button.onglet-selected Borrowing
          div.onglet
            button Investing
          div.onglet
            button Insurance
        div.user-log
          div.user-name
            i.user-name-value &nbsp;&nbsp;name user
          .dropdown.col-md-8
            button.btn.btn-default(type='button', data-toggle='dropdown')
              i.fa.fa-user
            ul.dropdown-menu.dropdown-menu-right#dropdown-menu-users
              li.divider
          .dropdown.col-md-4
            button.btn.btn-default(type='button', data-toggle='dropdown')
              i.fa.fa-gear
            ul.dropdown-menu.dropdown-menu-right
              li
                a#button-administrator-view(href='#') Administrator View
              li
                a#button-user-view(href='#') User View
              li
                a#button-reset(href='#') Reset discussion
      .container-bot-presentation
        button.button-showDialog
          img(src="/images/avatar.png")
        i Start now using our interactive loan calculator.
        br
        i Feel free to ask Alicia, our Virtual Assistant, for any advice.             
      .container
        .container-left
          .effect2#calculatorContent
            .calculator-header
              h5 
                i.fa.fa-pencil
                | Your loan Project
            ul#credit-form
              li#group-inputFormProjectType.colored-form
                label Select your project :
                select.image-picker.show-html#inputFormProjectType.form-data
                  option( selected='', value='')
                  option(data-img-src='images/car.png', data-img-class='first', data-img-alt='Page 1', value='consumer')   consommation 
                  option(data-img-src='images/tresoererie.png', data-img-alt='Page 11', value='treasury')  2
                  option(data-img-src='images/travaux.png', data-img-alt='Page 12', data-img-class='last', value='work')  3
              li#group-result-projectType.hide-information.colored-form
                  img.result-projectType(src="../images/calculate-logo.png")
              li.hide-information#group-application_fees.colored-form
                label application fee:
                br
                input(type='text', name='lname', value='50', disabled='', <='', body='')#application_fees.form-data
              li.hide-information#group-AmountByMonthMax.colored-form
                label Amount By month maximum:
                br
                input(type='text', name='lname', value='500', disabled='', <='', body='')#AmountByMonthMax.form-data
              li.hide-information#group-inputFormOptionInsurancePrice.colored-form
                label Assurance price:
                br
                input(type='text', name='lname', value='15')#inputFormOptionInsurancePrice.form-data
              li.hide-information#group-inputFormCurrency.colored-form
                label Currency:
                br
                input(type='text', name='lname', value='$')#inputFormCurrency.form-data
              li.hide-information#group-inputFormAnnualRate.colored-form
                label Annual Rate:
                br
                input(type='text', name='lname', value='0.0252')#inputFormAnnualRate.form-data
              li.colored-form
                label Amount :
                br
                .input-group.form-amount-customized(style="margin-right: 60px")
                  input.input-border-blue.form-control.form-data#inputFormAmount(type='number' value='')
                  span.input-group-addon.span-customize
                    select#amount-currency.form-control
                      option(value='$') $
                      option(value='€') €
                      option(value='£') £
              li.colored-form
                label Duration :
                br

                input.form-data(type='number', data-slider-min='0', data-slider-max='84', data-slider-step='1', data-slider-value='')#inputFormTime
                span#ex6CurrentSliderValLabel
                  span#ex6SliderVal 0
                  span  months
              li#group-inputFormOptionInsurance.colored-form
                .div-toggle
                  label Insurance:
                  input#inputFormOptionInsurance.sw.form-data(type='checkbox', name='toggle')
                  label(for='inputFormOptionInsurance' style="top: 14px;margin-left: 18px;")
              li#group-executeSimulation
                button.btn.btn-default#executeSimulation(type='button' style="right:0px")
                  img(src="../images/calculate-logo.png")
              //span.label.label-success.hide-information.label-advice.label-advice-good GOOD
              //span.label.label-warning.label-advice-warning.label-advice.hide-information WARNING
              //span.label.label-danger.label-advice-bad.label-advice.hide-information BAD   
              //label(style="background:green").hide-information.label-advice.label-advice-good notation good
              //label(style="background:yellow").label-advice-warning.label-advice.hide-information notation warning
              //label(style="background:red").label-advice-bad.label-advice.hide-information notation  bad

        .container-center
          div.scope-dialog
            .container-dialog-history.nano-content
              ul.media-block
            .container-dialog-footer
              div
                .div
                  .div
                    input.form-control.chat-input(type='text', placeholder='Enter your text')#question
                  .div
                    button.btn.btn-primary.btn-block.around-bottom(type='submit')#send Send          
              .container-bot-icon-dialog         
                button.button-hideDialog
                  img(src="/images/avatar.png")
        .container-right
          .step-detail.information.effect2
            div
              h5 Information
            div.information-content

              #group-resultData.hide-information
                div.container-title-result
                  h5 Simulation result
                  button#btn-download-fees.btn.btn-default.btn-lg(type='button')
                      span.glyphicon.glyphicon-download-alt(aria-hidden='true')
                div
                  ul

                    li
                      h6 Amount by month :
                        span.label.label-default#resultCalcul 0$
                    li
                      h6 application fee:
                        span.label.label-default#resultFees 0$


                    li
                      h6 Insurance Monthly:
                        span.label.label-default#resultInsuranceMonthly 0$
                    li
                      h6 Annual Rate:
                        span.label.label-default#resultAnnualRate 0%
                    li#resultInsurance.hide-information
                      img(src="../images/insurance.png" style="height: 15%;width: 15%;")
                      i Insurance option
                    
                  div#progressbar
                  
              .step-detail-content#group-reglementation-step
                div.container-title-step
                  h5 Your credit in 3 steps
                ul
                  li
                    span.REF_liste01
                    | Simulate your consumption credit and apply online by filling out our form. Get an immediate policy response in 10 minutes.
                  li
                    span.REF_liste02
                    | Choose to print or receive your contract documents for peace of mind.

                  li
                    span.REF_liste03
                    | Return your completed, signed and dated contract documents.
              #group-reglementation-consumer.hide-information
                div.container-title-information
                  h5 Corresponding legal information
                .content-information
                  p You wish to subscribe to an attached credit. The particularity of this credit is that it is attached to a consumer good. You can only borrow the amount of the value of the property you wish to buy. If the property is not delivered the credit will not be released and vice versa if the credit is denied to you the property will not purchase. Attention you will need to provide proof of purchase of this property. If you subscribe to this credit, You will have a 14 day deadline to reverse your decision. A credit commits you and must be repaid. Check your repayment capacity before you commit
              #group-reglementation-treasury.hide-information
                div.container-title-information
                  h5 Corresponding legal information
                .content-information

                  p You wish to subscribe to a personal credit. The particularity of this credit is that it is free to use. However if you want to borrow in order to buy a property, even if the property is not issued you will be required to pay this loan. If this scenario is possible you should look at the assigned credit: make an assigned credit simulation. If you subscribe to this credit you will have a 14 day deadline to reverse your decision.A credit commits you and must be repaid. Check your repayment capacity before you commit
              #group-reglementation-work.hide-information
                div.container-title-information
                  h5 Corresponding legal information
                .content-information
                  p You wish to take out a credit for the financing of works.If you subscribe to this credit, you will have 14 days to reverse your decision.A credit commits you and must be repaid. Check your repayment capacity before you commit    

      div.segment-footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js')
    //script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js')

    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript').
    script(src='/js/chatbox/image-picker.js')
    script(src='/js/chatbox/progressbar.js')
    script(src='/js/chatbox/bootstrap-slider.js')
    script(src='/js/chatbox/html2pdf.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js')
    script(src='/js/chatbox/animation.js')
    script(src='/js/chatbox/main.js')
