.REF_liste01 {
    display: inline-block;
    float: left;
    width: 29px;
    height: 29px;
    background: url(../images/pastille.png) no-repeat;

}




.REF_liste01_num2 {
    background-position: left top;
}
.REF_liste01_num2 {
    background-position: -29px top;
}
.REF_liste01_num3 {
    background-position: -28px top;
}

.REF_liste02 {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url(../images/pastille.png) no-repeat;
}

.REF_liste02_picto1 {
    background-position: left -33px;
}

.REF_liste02_picto2 {
    background-position: -39px -33px;
}
.step-detail-content li{
	line-height:24px;
}

.REF_liste02_picto3 {
    background-position: -78px -33px;
}
.REF_liste02_picto4 {
    background-position: -117px -33px;
}
 
.information{
  
background:white;
    border-radius: 5px;
        box-shadow: 0 2px 0 rgba(0,0,0,0.075);

}

.detail-engagement{

        border-radius: 5px;

margin:5px;

        padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 30px;
	background:#D2E7B6;
        box-shadow: 0 2px 0 rgba(0,0,0,0.075);


}